[Unit]
Description=REStake Gravity
Requires=network-online.target
Wants=restake-gravity.timer

[Service]
User=keupsonite
Type=oneshot
WorkingDirectory=/home/keupsonite/restake
ExecStart=bash /home/keupsonite/ez_restake_utilities/scripts/run_restake.sh gravitybridge

[Install]
WantedBy=multi-user.target
